.place__title {
  max-width: 460px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: end;
  justify-self: start;
  margin: 0;
}

@media (max-width: 1250px){
  .place__title{
    max-width: 440px;
  }
}


@media (max-width: 1023px){
  .place__title{
    font-size: 42px;
    line-height: 46px;
    max-width: 97%;
  }
}

@media (max-width: 767px){
  .place__title{
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
    max-width: 288px;
    grid-column: 1/4;

  }
}
