@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../../fonts/Inter-Black.woff2') format('woff2'),
       url('../../fonts/Inter-Black.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: normal;
  font-display: swap;
  src: url('../../fonts/Inter-Regular.woff2') format('woff2'),
       url('../../fonts/Inter-Regular.woff') format('woff');
}

@font-face {
   font-family: 'Inter';
   font-style:  normal;
   font-weight: bold;
   font-display: swap;
   src: url('../../fonts/Inter-Bold.woff2') format('woff2'),
        url('../../fonts/Inter-Bold.woff') format('woff');
}

.page{
  width: 100%;
  color: #FFFFFF;
  background: #2A2C2F;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
