.photo-grid{
  margin: 92px auto 0;
  max-width: 1184px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));

}

@media (max-width: 1250px){
  .photo-grid{
    max-width: 928px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media (max-width: 1023px){
  .photo-grid{
    max-width: 720px;
    margin-top: 88px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
  }
}


@media (max-width: 767px){
  .photo-grid{
    width: 288px;
    margin: 64px auto 0;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
  }
}
