.lead{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 984px;
  margin: 56px auto 0;
  padding: 0 48px;
}

@media (max-width: 1250px) {
  .lead {
    max-width: 928px;
    margin: 48px auto 0;

  }
}

@media (max-width: 1023px){
  .lead {
    max-width: 768px;
    padding: 0;
  }
}

@media (max-width: 767px){
  .lead {
    max-width: 320px;
  }
}
