.header{
  max-width: 1184px;
  max-height: 52px;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  margin: 0 48px;
  padding-top: 28px;
}


@media screen and (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 288px;
    padding-top: 16px;
    margin-left: 16px;
    max-height: 42px;
  }
}
