.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  max-height: 52px;
  margin: 0 auto;
  padding-top: 28px;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 288px;
    max-height: 42px;
    padding-top: 16px;
  }
}
