.place__paragraphs {
  max-width: 484px;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: start;
  justify-self: start;
}

@media screen and (max-width: 1023px){
  .place__paragraphs{
    max-width: 352px;
  }
}

@media screen and (max-width: 720px){
  .place__paragraphs{
    max-width: 288px;
    grid-column: 1/4;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;

  }
}
