.header__link{
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}


.header__link:hover{
  opacity: 0.8;
  transition: 0.4s linear;
}

@media (max-width: 767px){
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}
