.header__link{
  color: #fff;
  text-decoration: none;
  max-width: 29px;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  padding-left: 18px;
}

.header__link:hover{
  color: #FF00FF;
  opacity: 0.8;
  transition:0.4s linear;
}

@media screen and (max-width: 320px) {
  .header__link {
    font-size: 18px;
    line-height: 20px;
  }
}
