.place__paragraph {
  max-width: 484px;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8337rem;
  color: #FFFFFF;
  margin-top: 25px;
}

.place__paragraph:first-child {
  margin-top: 0px;
}

@media screen and (max-width: 1023px){
  .place__paragraph{
    max-width: 352px;
    font-size: 16px;
    line-height: 1.63rem;
    padding: 0;
  }
}

