.cover {
  max-width: 1184px;
  margin: 92px auto;
  margin-bottom: 0;

}

@media screen and (max-width: 1000px) {
  .cover {
      margin: 88px auto 0;
  }
}

@media screen and (max-width: 760px) {
  .cover {
      margin: 64px auto 0;
  }
}
