.intro{
  max-width: 984px;
  margin: 92px auto 0;
  display: flex;
  flex-direction: column;
  justify-self: start;
}

@media (max-width: 1250px){
  .intro {
    max-width: 928px;
    padding: 0 48px;
  }
}

@media (max-width: 1023px){
  .intro {
    max-width: 720px;
    margin-top: 88px;
    padding: 0 24px;
  }
}

@media (max-width: 767px){
  .intro {
    max-width: 288px;
    margin-top: 64px;
    padding: 0 16px;
  }
}
