.place__paragraphs {
  max-width: 484px;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: start;
  justify-self: start;
}

@media screen and (max-width: 320px) {
  .place__paragraphs {
    max-width: 288px;
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
  }
}
