.place{
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  align-items: center;
  justify-items: center;
  margin-top: 92px;
  gap: 48px 32px;
}



@media screen and (max-width: 1250px) {
  .place {
      grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 1000px) {
  .place {
      grid-gap: 48px 28px;
      margin-top: 72px;
  }
}

@media screen and (max-width: 720px) {
  .place {
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(4, auto);
      grid-gap: 32px;
      justify-items: center;
      align-items: center;
      margin-top: 48px;
  }
}
