.cover__overlay {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffff;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 620px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 567px) {
  .cover__overlay {
    min-height: 200px;

  }
}
