.cover__overlay{
  background-image: url(../../../images/dobaikala.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  max-width: 100%;
  padding-bottom: 41.5%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;



}
.cover__overlay:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  transition: all 0.5s linear;
}
.cover__overlay:hover:before {
  background: #2A2C2F;
  opacity: 0.8;
}



@media screen and (max-width: 1280px) {
  .cover__overlay {
    max-width: 1184px;
  }
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    max-width: 320px;
  }
}
