.cover__title{
  max-width: 560px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  color: #fff;
  line-height: 76px;
  z-index: 1;
  margin: 0;
}

@media screen and (max-width: 760px) {
  .cover__title {
      max-width: 288px;
      font-size: 32px;
      line-height: 35px;
      z-index: 1;
  }
}
