.footer__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 760px) {
  .footer__list {
    flex-direction: column;
    align-items: start;
    }
}
