.place{
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 48px 40px;
  margin-top: 80px;
}

.place:first-child {
  margin-top: 0px;
}



@media screen and (max-width: 1250px) {
  .place {
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 1000px) {
  .place {
  grid-gap: 48px 28px;
  margin-bottom: 73px;
  grid-template-columns: repeat(auto-fit, minmax(340px 1fr));
  }
}

@media screen and (max-width: 720px) {
  .place {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, auto);
     grid-gap: 32px;
    justify-items: center;
    align-items: center;
    margin-top: 48px;
  }
}
