.cover__title {
  max-width: 560px;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFDFD;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -75%);
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    transform: translate(-50%, -95%);
  }
}
