.cover__subtitle {
  max-width: 360px;
  margin: 0;
  padding-top: 32px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  z-index: 1;
}

@media screen and (max-width: 760px) {
  .cover__subtitle {
      min-width: 288px;
      font-size: 14px;
      line-height: 16px;
      margin: 16px auto 0;
      z-index: 1;
  }
}
